{% extends 'base/base.html' %}

{% block start %}

<div class="container mt-5 pt-5">
    <div class="row">
        
        {% for brand in brands %}
        <div class="col-md-3">
            <figure class="card card-product-grid">
                <div class="img-wrap"> <img src="/media/{{brand.brand_img}}"> </div>
                <figcaption class="info-wrap border-top">
                  
                  <a href="{% url 'get_brand_product' brand.slug %}" class="title">
                        <b>{{brand.brand_name}}</b>
                      </a>
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->

        {% endfor %}
        
       
    </div>

</div>

{% endblock start %}