{% extends 'base/base.html' %}

{% block meta %}
<meta name="description" content="This is the starting page of this website where you can explore different categories and products on the basis of arrival offers and trending">
{% endblock meta %}

{% block start %}

<h3 class="text-danger text-center"><b>Note: </b>Demo Site</h3>
<div class="container mt-5 pt-5">
    <div class="row">
        
        {% for product in products %}
        

        <div class="col-md-3">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    <img src="/media/{{product.product_images.first.image}}">
                </div>
                <figcaption class="info-wrap border-top text-center">
                    <small class="text-uppercase font-weight-bolder text-warning">{{product.category}}</small>
                    <p><a href="{% url 'get_product' product.slug %}" class="title"><b>{{product.product_name}}</b></a></p>
                    <div class="price mt-2">Rs. {{product.price}}.00</div> <!-- price-wrap.// -->	
                </figcaption>
            </figure> <!-- card // -->
        </div>

        {% endfor %}
        
       
    </div>

</div>

<script>
    alert("Note: This website is created by Sumit Shrestha for the demo purpose only. The item buyed or added to card will not be delivered or considered as buyed item. The site is still under development so you may encounter some errors.")
</script>

{% endblock start %}