{% extends 'base/base.html' %}

{% block start %}
<div class="container">
    <p class="font-weight-bold mt-3 text-center" style="font-size: 32px;">Payment for {{product.product_name}}</p>
    <form action="https://uat.esewa.com.np/epay/main" method="POST" class="d-flex flex-column">
        <label for="tAmt" class="form-label mt-5">Total Amount</label>
        <input value="{{product.price}}" name="tAmt" type="text" readonly class="form-control">
        <input value="{{product.price}}" name="amt" type="hidden" readonly>
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="EPAYTEST" name="scd" type="hidden">
        <label for="pid" class="form-label mt-3">Product ID</label>
        <input value="product_id_{{product.uid}}" name="pid" type="text" readonly class="form-control">
        <input value="http://127.0.0.1:8000/accounts/esewa-verify/" type="hidden" name="su">
        <input value="{{request.build_absolute_uri}}" type="hidden" name="fu">
        <input value="Submit" type="submit" class="btn btn-success mt-5">
    </form>
</div>
{% endblock start %}

